body {
    margin: 0px;
    background-color: rgb(37, 37, 37);
}

div .Welcome.ExempleUrl {
    text-align: left;
    background-color: rgb(192, 192, 192);
    border-style: solid;
    border-width: 2px;
    border-color:  rgb(97, 97, 97);
    padding: 15px;
}

.ERROR {
    text-align: center;
    text-shadow: 0px 2px 2px rgba(255, 0, 0, 0.87);
}

.button-Error {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: rgb(223, 43, 43);
    border: rgb(73, 0, 0);
    border-width: 10px;
    color: white;
    padding: 5px;
}

.Welcome {
    text-align: center;
}

img.Welcome.logo-page{
    display: block;
    width: 25%;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 37.2%;
    margin-right: auto;
    text-align: center;
}

a {
    color: white;
    vertical-align: baseline;
}


.widget-main {
    padding: 10px;
    margin: 100px;
    margin-bottom: 20px;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 1px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 1px 5px rgba(0,0,0,1);
    box-shadow: 0px 0px 1px 5px rgba(0,0,0,1);
    color: rgb(255, 255, 255);
}

.widget-main-top {
    vertical-align: baseline;
    color: rgb(255, 255, 255);
    padding: 1px;
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
    -webkit-box-shadow: 0px 0px 1px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 1px 5px rgba(0,0,0,1);
    box-shadow: 0px 0px 1px 5px rgba(0,0,0,1);
}

.widget-main-top img{
    display: inline-block;
    height: 20px;
    vertical-align: baseline;
}

.widget-main-top p{
    display: inline-block;
    vertical-align: baseline;
}

.high-barr {
    vertical-align: baseline;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,1);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,1);
}

.high-barr img{
    vertical-align: baseline;
    display: block;
    height: 40px;
    width: auto;
    margin: auto;
}

p.FileListe {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: baseline;
}

hr.FileListe {
    margin: 0px;
    border: none;
    background-color: rgb(34, 34, 34);
    padding: 1px;
}

div.FileListe{
    margin: 0%;
    padding: 0%;
    background-color: white;
}

div.FileListe:hover{
    margin: 0%;
    padding: 0%;
    background-color: rgb(201, 201, 201);
}

.input-text {
    border: none;
    background-color: rgb(20, 20, 20);
    border-width: 1px;
    border-color: black;
    color: rgb(143, 143, 143);
}

.input-submit {
    border: none;
    background-color: rgb(20, 20, 20);
    border-width: 1px;
    border-color: black;
    color: rgb(143, 143, 143);
}

.input-submit:hover {
    background-color: rgb(54, 54, 54);
    border-width: 1px;
    border-color: black;
    color: rgb(143, 143, 143);
}

.thumbnail-Folder {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 0%;
    margin: auto;
    vertical-align: baseline;
}

.thumbnail-file {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 0%;
    margin: auto;
    vertical-align: baseline;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #00000000;
}